body { line-height: 1.4; margin-left: 4%; margin-right: 4%; font-family: "Times New Roman", serif; }
img { max-width: 100%; max-height: 98%; }
small { font-size: 80%; } 
sup { line-height: 80%; font-size: 80%; }
sub { line-height: 80%; font-size: 80%; }
.shyphen { word-break: break-all; }
hr.hrline { margin-top:10%; margin-bottom:2%; margin-left:0%; text-align:left; width:30%; }
span.Smallcaps { font-variant: small-caps; }
span.Underline { text-decoration: underline; }
span.Overline { text-decoration: overline; }
span.Strike { text-decoration: line-through; }
a { text-decoration: none; }
table { border-collapse: collapse; border-spacing: 0 }
p.P0 {
text-align:center;
margin-top:1em;
margin-bottom:1em;
font-size:100%;
text-indent:0px;
}
p.C159 {
text-align:center;
margin-top:3em;
margin-bottom:0px;
font-size:100%;
text-indent:0px;
}
p.C163 {
text-align:center;
margin-top:3em;
margin-bottom:1em;
font-size:190%;
text-indent:0px;
}
p.C162 {
text-align:center;
margin-top:0px;
margin-bottom:15em;
font-size:90%;
text-indent:0px;
}
p.C121 {
text-align:center;
margin-top:1em;
margin-bottom:1em;
text-indent:0px;
}
p.C164 {
text-align:center;
margin-top:3em;
margin-bottom:0px;
font-size:90%;
text-indent:0px;
}
p.C165 {
text-align:center;
margin-top:1em;
margin-bottom:0px;
font-size:90%;
text-indent:0px;
}
p.C166 {
text-align:center;
margin-top:0px;
margin-bottom:0px;
font-size:90%;
text-indent:0px;
}
p.C167 {
text-align:center;
margin-top:3em;
margin-bottom:2em;
font-size:140%;
text-indent:0px;
}
p.C193 {
margin-top:0.5em;
margin-bottom:0px;
font-size:100%;
text-indent:0px;
text-align:left;
}
p.C196 {
margin-left:1.5em;
margin-top:0.5em;
margin-bottom:0.5em;
font-size:100%;
text-indent:0px;
text-align:left;
}
p.C201 {
margin-left:2.5em;
margin-top:0px;
margin-bottom:0px;
font-size:100%;
text-indent:0px;
text-align:left;
}
p.C168 {
text-align:justify;
margin-top:0px;
margin-bottom:0px;
font-size:100%;
text-indent:0px;
}
p.C169 {
text-align:justify;
margin-top:0px;
margin-bottom:0px;
font-size:100%;
text-indent:1em;
}
p.C170 {
text-align:justify;
margin-top:1em;
margin-bottom:0px;
font-size:100%;
text-indent:0px;
}
p.C172 {
text-align:right;
margin-top:-1em;
margin-bottom:0px;
font-size:100%;
text-indent:0px;
}
p.C173 {
text-align:center;
margin-top:4em;
margin-bottom:1em;
font-size:90%;
text-decoration:underline;
text-indent:0px;
}
p.C174 {
text-align:center;
margin-top:0px;
margin-bottom:2em;
font-size:160%;
text-indent:0px;
}
p.C175 {
text-align:center;
margin-top:1.5em;
margin-bottom:1em;
font-size:90%;
text-indent:0px;
}
p.C176 {
text-align:center;
margin-top:1.5em;
margin-bottom:1em;
font-size:100%;
text-indent:0px;
}
p.C178 {
text-align:justify;
margin-left:1.5em;
margin-top:0px;
margin-bottom:0px;
font-size:90%;
text-indent:0px;
}
p.C207 {
text-align:center;
margin-top:1em;
margin-bottom:0.5em;
font-size:90%;
text-indent:0px;
}
p.C208 {
text-align:justify;
margin-top:0.5em;
margin-bottom:2em;
font-size:90%;
text-indent:-2em;
margin-left:2em;
}
p.C181 {
text-align:justify;
margin-top:1em;
margin-bottom:0px;
font-size:90%;
text-indent:0px;
}
p.C182 {
text-align:justify;
margin-top:0px;
margin-bottom:0px;
font-size:90%;
text-indent:1em;
}
p.C180 {
text-align:justify;
margin-top:1em;
margin-bottom:0px;
font-size:100%;
text-indent:1em;
}
p.C183 {
text-align:center;
margin-top:0px;
margin-bottom:0px;
font-size:160%;
text-indent:0px;
}
p.C184 {
text-align:center;
margin-top:0px;
margin-bottom:3em;
font-size:120%;
text-indent:0px;
}
p.C243 {
text-align:center;
margin-top:3em;
margin-bottom:2em;
font-size:160%;
text-indent:0px;
}
p.C187 {
text-align:justify;
text-indent:-1.5em;
margin-left:1.5em;
margin-top:0px;
margin-bottom:0px;
font-size:90%;
}
p.C188 {
text-align:justify;
text-indent:-1.5em;
margin-left:1.5em;
margin-top:1em;
margin-bottom:0.5em;
font-size:90%;
}
p.C191 {
text-indent:-1.5em;
margin-left:1.5em;
margin-top:0px;
margin-bottom:0px;
font-size:90%;
text-align:left;
}
p.C192 {
text-indent:-1.5em;
margin-left:1.5em;
margin-top:1em;
margin-bottom:0px;
font-size:90%;
text-align:left;
}
table.C202 {
margin-bottom:1em;
margin-top:1em;
font-size:100%;
width:100%;
}
tr.C203 {
vertical-align:top;
}
td.C205 {
padding:0.2em;
width:20%;
}
td.C206 {
padding:0.2em;
width:80%;
}
td.C204 {
padding:0.2em;
}
td.C212 {
padding:0.2em;
border-bottom:solid 1px #000000;
border-top:solid 1px #000000;
width:10%;
}
td.C213 {
padding:0.2em;
border-bottom:solid 1px #000000;
border-top:solid 1px #000000;
width:30%;
}
td.C214 {
padding:0.2em;
border-bottom:solid 1px #000000;
border-top:solid 1px #000000;
text-align:center;
width:30%;
}
td.C211 {
padding:0.2em;
text-align:center;
}
td.C209 {
padding:0.2em;
border-bottom:solid 1px #000000;
border-top:solid 1px #000000;
}
td.T88_Column2 {
padding-left:0.375em;
padding-right:0.375em;
}
td.T88_Column3 {
padding-left:0.375em;
padding-right:0.375em;
}
td.C210 {
padding:0.2em;
border-bottom:solid 1px #000000;
border-top:solid 1px #000000;
text-align:center;
}
td.T125_Column5 {
padding-left:0em;
}
td.T89_Column4 {
padding-left:0em;
padding-right:0em;
}
td.T89_Column2 {
padding-left:0em;
padding-right:0em;
}
td.T89_Column3 {
padding-left:0em;
padding-right:0em;
}
td.T90_Column2 {
padding-left:0.375em;
padding-right:0.375em;
}
td.T90_Column3 {
padding-left:0.375em;
padding-right:0.375em;
}
td.T91_Column5 {
padding-left:-0.125em;
}
td.T91_Column2 {
padding-left:-0.125em;
padding-right:-0.125em;
}
td.T91_Column3 {
padding-left:-0.125em;
padding-right:-0.125em;
text-align:right;
}
td.T91_Column4 {
padding-left:-0.125em;
padding-right:-0.125em;
}
td.T92_Column2 {
padding-left:0.375em;
padding-right:0.375em;
}
td.T92_Column3 {
padding-left:0.375em;
padding-right:0.375em;
}
td.T93_Column2 {
padding-left:0.375em;
padding-right:0.375em;
}
td.T93_Column3 {
padding-left:0.375em;
padding-right:0.375em;
}
td.T94_Column2 {
padding-left:0.375em;
padding-right:0.375em;
}
td.T94_Column3 {
padding-left:0.375em;
padding-right:0.375em;
}
td.T95_Column2 {
padding-left:0.375em;
padding-right:0.375em;
}
td.T95_Column3 {
padding-left:0.375em;
padding-right:0.375em;
}
td.T96_Column2 {
padding-left:0.375em;
padding-right:0.375em;
}
td.T96_Column3 {
padding-left:0.375em;
padding-right:0.375em;
}
td.T97_Column2 {
padding-left:0.375em;
padding-right:0.375em;
}
td.T97_Column3 {
padding-left:0.375em;
padding-right:0.375em;
text-align:right;
}
td.T98_Column3 {
padding-left:0.125em;
padding-right:0.125em;
}
td.T98_Column2 {
padding-left:0.125em;
padding-right:0.125em;
text-align:center;
}
td.T98_Column4 {
padding-left:0.125em;
padding-right:0.125em;
}
td.T99_Column2 {
padding-left:0.375em;
padding-right:0.375em;
}
td.T99_Column3 {
padding-left:0.375em;
padding-right:0.375em;
}
td.T100_Column2 {
padding-left:0.375em;
padding-right:0.375em;
}
td.T100_Column3 {
padding-left:0.375em;
padding-right:0.375em;
}
td.T101_Column2 {
padding-left:0.375em;
padding-right:0.375em;
}
td.T101_Column3 {
padding-left:0.375em;
padding-right:0.375em;
}
td.T102_Column2 {
padding-left:0.375em;
padding-right:0.375em;
}
td.T102_Column3 {
padding-left:0.375em;
padding-right:0.375em;
}
td.T103_Column2 {
padding-left:0.375em;
padding-right:0.375em;
text-align:center;
}
td.T103_Column3 {
padding-left:0.375em;
padding-right:0.375em;
}
td.T104_Column2 {
padding-left:0.375em;
padding-right:0.375em;
}
td.T104_Column3 {
padding-left:0.375em;
padding-right:0.375em;
}
td.T105_Column2 {
padding-left:0.375em;
padding-right:0.375em;
}
td.T105_Column3 {
padding-left:0.375em;
padding-right:0.375em;
}
td.T106_Column5 {
padding-left:-0.375em;
}
td.T106_Column4 {
padding-left:-0.375em;
padding-right:-0.375em;
}
td.T106_Column2 {
padding-left:-0.375em;
padding-right:-0.375em;
}
td.T106_Column3 {
padding-left:-0.375em;
padding-right:-0.375em;
}
td.T107_Column2 {
padding-left:1em;
padding-right:1em;
}
td.T107_Column3 {
padding-left:1em;
padding-right:1em;
}
td.T108_Column2 {
padding-left:2.125em;
padding-right:2.125em;
}
td.T109_Column2 {
padding-left:1.625em;
padding-right:1.625em;
}
td.T147_Column5 {
padding-left:-0.25em;
}
td.T110_Column4 {
padding-left:-0.25em;
padding-right:-0.25em;
}
td.T111_Column2 {
padding-left:0.25em;
padding-right:0.25em;
}
td.T111_Column3 {
padding-left:0.25em;
padding-right:0.25em;
text-align:center;
}
td.T112_Column2 {
padding-left:0.25em;
padding-right:0.25em;
}
td.T112_Column3 {
padding-left:0.25em;
padding-right:0.25em;
text-align:center;
}
td.T113_Column5 {
padding-left:0em;
}
td.T113_Column4 {
padding-left:0em;
padding-right:0em;
}
td.C219 {
padding:0.2em;
border-bottom:solid 1px #000000;
border-top:solid 1px #000000;
text-align:center;
width:40%;
}
td.C220 {
padding:0.2em;
border-bottom:solid 1px #000000;
border-top:solid 1px #000000;
text-align:center;
width:40%;
}
td.C222 {
padding:0.2em;
border-bottom:solid 1px #000000;
border-top:solid 1px #000000;
width:70%;
}
td.C223 {
padding:0.2em;
border-bottom:solid 1px #000000;
border-top:solid 1px #000000;
width:70%;
}
td.C224 {
padding:0.2em;
border-bottom:solid 1px #000000;
border-top:solid 1px #000000;
width:60%;
}
td.C225 {
padding:0.2em;
border-bottom:solid 1px #000000;
border-top:solid 1px #000000;
width:40%;
}
td.C226 {
padding:0.2em;
border-bottom:solid 1px #000000;
border-top:solid 1px #000000;
width:40%;
}
td.C227 {
padding:0.2em;
border-bottom:solid 1px #000000;
border-top:solid 1px #000000;
text-align:center;
width:20%;
}
td.C229 {
padding:0.2em;
border-bottom:solid 1px #000000;
border-top:solid 1px #000000;
width:20%;
}
td.C230 {
padding:0.2em;
border-bottom:solid 1px #000000;
border-top:solid 1px #000000;
width:20%;
}
td.T120_Column4 {
padding-left:0em;
}
td.T120_Column3 {
padding-left:0em;
padding-right:0em;
}
td.C240 {
padding:0.2em;
padding-left:5em;
}
td.T125_Column4 {
padding-left:0em;
padding-right:0em;
}
td.T125_Column2 {
padding-left:0em;
padding-right:0em;
}
td.T125_Column3 {
padding-left:0em;
padding-right:0em;
}
td.T147_Column4 {
padding-left:-0.25em;
padding-right:-0.25em;
}
td.C217 {
padding:0.2em;
border-bottom:solid 1px #000000;
}
td.C231 {
padding:0.2em;
border-bottom:solid 1px #000000;
text-align:center;
}
td.C235 {
padding:0.2em;
border-bottom:solid 1px #000000;
}
td.C233 {
padding:0.2em;
border-bottom:solid 1px #000000;
}
td.C241 {
padding:0.2em;
padding-left:5em;
border-bottom:solid 1px #000000;
}
span.C177 {
float:left;
margin-left:-1.5em;
}
span.C200 {
float:left;
margin-left:-2.5em;
}
img.Image84 {
width:100%;
}
img.Image85 {
width:40%;
}

img.C5
{
width:5%;
}
img.C15
{
width:15%;
}
img.C25
{
width:25%;
}
img.C35
{
width:35%;
}
img.C45
{
width:45%;
}
img.C55
{
width:55%;
}
img.C65
{
width:65%;
}
img.C75
{
width:75%;
}
img.C85
{
width:85%;
}
img.C95
{
width:95%;
}
img.C10
{
width:10%;
}
img.C20
{
width:20%;
}
img.C30
{
width:30%;
}
img.C40
{
width:40%;
}
img.C50
{
width:50%;
}
img.C60
{
width:60%;
}
img.C70
{
width:70%;
}
img.C80
{
width:80%;
}
img.C90
{
width:90%;
}
img.C100
{
width:100%;
}
div.width_10
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_10 p
{
width:10%;
display:inline-block;
}
div.width_5
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_5 p
{
width:5%;
display:inline-block;
}
div.width_12
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_12 p
{
width:12%;
display:inline-block;
}
div.width_15
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_15 p
{
width:15%;
display:inline-block;
}
div.width_20
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_20 p
{
width:20%;
display:inline-block;
}
div.width_25
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_25 p
{
width:25%;
display:inline-block;
}
div.width_30
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_30 p
{
width:30%;
display:inline-block;
}
div.width_35
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_35 p
{
width:35%;
display:inline-block;
}
div.width_40
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_40 p
{
width:40%;
display:inline-block;
}
div.width_45
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_45 p
{
width:45%;
display:inline-block;
}
div.width_50
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_50 p
{
width:50%;
display:inline-block;
}
div.width_55
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_55 p
{
width:55%;
display:inline-block;
}
div.width_60
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_60 p
{
width:60%;
display:inline-block;
}
div.width_65
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_65 p
{
width:65%;
display:inline-block;
}
div.width_70
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_70 p
{
width:70%;
display:inline-block;
}
div.width_75
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_75 p
{
width:75%;
display:inline-block;
}
div.width_80
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_80 p
{
width:80%;
display:inline-block;
}
div.width_85
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_85 p
{
width:85%;
display:inline-block;
}
div.width_90
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_90 p
{
width:90%;
display:inline-block;
}
div.width_95
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_95 p
{
width:95%;
display:inline-block;
}
div.width_100
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_100 p
{
width:100%;
display:inline-block;
}
div.width_10_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_10_l p
{
width:10%;
display:inline-block;
}
div.width_5_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_5_l p
{
width:5%;
display:inline-block;
}
div.width_12_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_12_l p
{
width:12%;
display:inline-block;
}
div.width_15_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_15_l p
{
width:15%;
display:inline-block;
}
div.width_20_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_20_l p
{
width:20%;
display:inline-block;
}
div.width_25_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_25_l p
{
width:25%;
display:inline-block;
}
div.width_30_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_30_l p
{
width:30%;
display:inline-block;
}
div.width_35_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_35_l p
{
width:35%;
display:inline-block;
}
div.width_40_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_40_l p
{
width:40%;
display:inline-block;
}
div.width_45_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_45_l p
{
width:45%;
display:inline-block;
}
div.width_50_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_50_l p
{
width:50%;
display:inline-block;
}
div.width_55_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_55_l p
{
width:55%;
display:inline-block;
}
div.width_60_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_60_l p
{
width:60%;
display:inline-block;
}
div.width_65_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_65_l p
{
width:65%;
display:inline-block;
}
div.width_70_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_70_l p
{
width:70%;
display:inline-block;
}
div.width_75_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_75_l p
{
width:75%;
display:inline-block;
}
div.width_80_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_80_l p
{
width:80%;
display:inline-block;
}
div.width_85_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_85_l p
{
width:85%;
display:inline-block;
}
div.width_90_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_90_l p
{
width:90%;
display:inline-block;
}
div.width_95_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_95_l p
{
width:95%;
display:inline-block;
}
div.width_100_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_100_l p
{
width:100%;
display:inline-block;
}
.common-a {
width: 2.5em;
vertical-align: middle;
margin-right:2px;
display:inline-block;
}
p.contents {
margin-top:3em;
margin-bottom:1em;
-webkit-hyphens: none !important;
adobe-hyphenate: none !important;
-moz-hyphens: none !important;
epub-hyphens: none !important;
font-size:120%;
text-align:left;
text-indent:0px;
}
p.toc-chapter1 {
margin-top:1em;
margin-bottom:.5em;
-webkit-hyphens: none !important;
adobe-hyphenate: none !important;
-moz-hyphens: none !important;
epub-hyphens: none !important;
font-size:100%;
text-align:left;
text-indent:0px;
}
