body { line-height: 1.4; margin-left: 4%; margin-right: 4%; font-family: "Times New Roman", serif; }
img { max-width: 100%; max-height: 98%; }
small { font-size: 80%; } 
sup { line-height: 80%; font-size: 80%; }
sub { line-height: 80%; font-size: 80%; }
.shyphen { word-break: break-all; }
hr.hrline { margin-top:10%; margin-bottom:2%; margin-left:0%; text-align:left; width:30%; }
span.Smallcaps { font-variant: small-caps; }
span.Underline { text-decoration: underline; }
span.Overline { text-decoration: overline; }
span.Strike { text-decoration: line-through; }
a { text-decoration: none; }
table { border-collapse: collapse; border-spacing: 0 }
p.C80 {
text-align:center;
margin-top:1em;
margin-bottom:1em;
text-indent:0px;
}
p.C82 {
text-align:center;
margin-top:3em;
margin-bottom:0px;
font-size:100%;
text-indent:0px;
}
p.C84 {
text-align:center;
margin-top:5em;
margin-bottom:0.5em;
font-size:190%;
text-indent:0px;
}
p.C85 {
text-align:center;
margin-top:0px;
margin-bottom:3em;
font-size:110%;
text-indent:0px;
}
p.C86 {
text-align:center;
margin-top:0px;
margin-bottom:12em;
font-size:90%;
text-indent:0px;
}
p.C87 {
text-align:center;
margin-top:3em;
margin-bottom:0px;
font-size:90%;
text-indent:0px;
}
p.C88 {
text-align:center;
margin-top:1em;
margin-bottom:0px;
font-size:90%;
text-indent:0px;
}
p.C89 {
text-align:center;
margin-top:0px;
margin-bottom:0px;
font-size:90%;
text-indent:0px;
}
p.C91 {
text-align:center;
margin-top:0px;
margin-bottom:0px;
font-size:100%;
text-indent:0px;
}
p.C92 {
text-align:center;
margin-top:3em;
margin-bottom:2em;
font-size:140%;
text-indent:0px;
}
p.C119 {
margin-top:0.5em;
margin-bottom:0.5em;
font-size:100%;
text-indent:0px;
text-align:left;
}
p.C117 {
margin-left:1.5em;
margin-top:0.5em;
margin-bottom:0px;
font-size:100%;
text-indent:0px;
text-align:left;
}
p.C93 {
text-align:justify;
margin-top:0px;
margin-bottom:0.2em;
font-size:100%;
text-indent:0px;
}
p.C94 {
text-align:justify;
margin-top:0.2em;
margin-bottom:0.2em;
font-size:100%;
text-indent:1em;
}
p.C95 {
text-align:justify;
margin-top:1em;
margin-bottom:0px;
font-size:100%;
text-indent:0px;
}
p.C96 {
text-align:right;
margin-top:-1em;
margin-bottom:0.2em;
font-size:100%;
text-indent:0px;
}
p.C97 {
text-align:right;
margin-top:0px;
margin-bottom:0.2em;
font-size:100%;
text-indent:0px;
}
p.C98 {
text-align:center;
margin-top:3em;
margin-bottom:1.5em;
font-size:90%;
text-decoration:underline;
text-indent:0px;
}
p.C99 {
text-align:center;
margin-top:0px;
margin-bottom:0.5em;
font-size:140%;
text-indent:0px;
}
p.C101 {
text-align:center;
margin-top:0px;
margin-bottom:2em;
font-size:130%;
text-indent:0px;
}
p.C104 {
text-align:center;
margin-top:1.5em;
margin-bottom:1em;
font-size:90%;
text-indent:0px;
}
p.C105 {
text-align:justify;
margin-top:1em;
margin-bottom:1em;
font-size:90%;
text-indent:0px;
}
p.C107 {
text-align:justify;
margin-left:1.5em;
margin-top:0px;
margin-bottom:0.2em;
font-size:100%;
text-indent:0px;
}
p.C108 {
text-align:justify;
margin-top:1.5em;
margin-bottom:1em;
font-size:100%;
text-indent:0px;
}
p.C109 {
text-align:center;
margin-top:1.5em;
margin-bottom:1em;
font-size:100%;
text-indent:0px;
}
p.P43 {
text-align:justify;
text-indent:-1.5em;
margin-left:1.5em;
margin-top:0px;
margin-bottom:0.3em;
font-size:90%;
}
p.C102 {
text-align:center;
margin-top:0px;
margin-bottom:2em;
font-size:140%;
text-indent:0px;
}
p.C110 {
text-align:justify;
margin-top:0px;
margin-bottom:1em;
font-size:90%;
text-indent:0px;
}
p.C111 {
text-align:justify;
margin-top:0.2em;
margin-bottom:0.2em;
font-size:90%;
text-indent:1em;
}
p.C113 {
text-align:center;
margin-top:3em;
margin-bottom:1em;
font-size:90%;
text-indent:0px;
}
p.C114 {
text-indent:-1.5em;
margin-left:1.5em;
margin-top:0px;
margin-bottom:0px;
font-size:90%;
text-align:left;
}
p.C115 {
text-indent:-1.5em;
margin-left:1.5em;
margin-top:1em;
margin-bottom:0px;
font-size:90%;
text-align:left;
}
span.C106 {
float:left;
margin-left:-1.5em;
}
img.C81 {
width:20%;
}
img.C120 {
width:40%;
}
img.C122 {
width:100%;
}

img.C5
{
width:5%;
}
img.C15
{
width:15%;
}
img.C25
{
width:25%;
}
img.C35
{
width:35%;
}
img.C45
{
width:45%;
}
img.C55
{
width:55%;
}
img.C65
{
width:65%;
}
img.C75
{
width:75%;
}
img.C85
{
width:85%;
}
img.C95
{
width:95%;
}
img.C10
{
width:10%;
}
img.C20
{
width:20%;
}
img.C30
{
width:30%;
}
img.C40
{
width:40%;
}
img.C50
{
width:50%;
}
img.C60
{
width:60%;
}
img.C70
{
width:70%;
}
img.C80
{
width:80%;
}
img.C90
{
width:90%;
}
img.C100
{
width:100%;
}
div.width_10
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_10 p
{
width:10%;
display:inline-block;
}
div.width_5
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_5 p
{
width:5%;
display:inline-block;
}
div.width_12
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_12 p
{
width:12%;
display:inline-block;
}
div.width_15
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_15 p
{
width:15%;
display:inline-block;
}
div.width_20
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_20 p
{
width:20%;
display:inline-block;
}
div.width_25
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_25 p
{
width:25%;
display:inline-block;
}
div.width_30
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_30 p
{
width:30%;
display:inline-block;
}
div.width_35
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_35 p
{
width:35%;
display:inline-block;
}
div.width_40
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_40 p
{
width:40%;
display:inline-block;
}
div.width_45
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_45 p
{
width:45%;
display:inline-block;
}
div.width_50
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_50 p
{
width:50%;
display:inline-block;
}
div.width_55
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_55 p
{
width:55%;
display:inline-block;
}
div.width_60
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_60 p
{
width:60%;
display:inline-block;
}
div.width_65
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_65 p
{
width:65%;
display:inline-block;
}
div.width_70
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_70 p
{
width:70%;
display:inline-block;
}
div.width_75
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_75 p
{
width:75%;
display:inline-block;
}
div.width_80
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_80 p
{
width:80%;
display:inline-block;
}
div.width_85
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_85 p
{
width:85%;
display:inline-block;
}
div.width_90
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_90 p
{
width:90%;
display:inline-block;
}
div.width_95
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_95 p
{
width:95%;
display:inline-block;
}
div.width_100
{
width:100%;
text-align:center;
display:block;
margin:0 auto;
}
div.width_100 p
{
width:100%;
display:inline-block;
}
div.width_10_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_10_l p
{
width:10%;
display:inline-block;
}
div.width_5_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_5_l p
{
width:5%;
display:inline-block;
}
div.width_12_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_12_l p
{
width:12%;
display:inline-block;
}
div.width_15_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_15_l p
{
width:15%;
display:inline-block;
}
div.width_20_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_20_l p
{
width:20%;
display:inline-block;
}
div.width_25_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_25_l p
{
width:25%;
display:inline-block;
}
div.width_30_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_30_l p
{
width:30%;
display:inline-block;
}
div.width_35_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_35_l p
{
width:35%;
display:inline-block;
}
div.width_40_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_40_l p
{
width:40%;
display:inline-block;
}
div.width_45_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_45_l p
{
width:45%;
display:inline-block;
}
div.width_50_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_50_l p
{
width:50%;
display:inline-block;
}
div.width_55_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_55_l p
{
width:55%;
display:inline-block;
}
div.width_60_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_60_l p
{
width:60%;
display:inline-block;
}
div.width_65_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_65_l p
{
width:65%;
display:inline-block;
}
div.width_70_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_70_l p
{
width:70%;
display:inline-block;
}
div.width_75_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_75_l p
{
width:75%;
display:inline-block;
}
div.width_80_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_80_l p
{
width:80%;
display:inline-block;
}
div.width_85_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_85_l p
{
width:85%;
display:inline-block;
}
div.width_90_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_90_l p
{
width:90%;
display:inline-block;
}
div.width_95_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_95_l p
{
width:95%;
display:inline-block;
}
div.width_100_l
{
width:100%;
text-align:left;
display:block;
margin:0 auto;
}
div.width_100_l p
{
width:100%;
display:inline-block;
}
.common-a {
width: 2.5em;
vertical-align: middle;
margin-right:2px;
display:inline-block;
}
p.contents {
margin-top:3em;
margin-bottom:1em;
-webkit-hyphens: none !important;
adobe-hyphenate: none !important;
-moz-hyphens: none !important;
epub-hyphens: none !important;
font-size:120%;
text-align:left;
text-indent:0px;
}
p.toc-chapter1 {
margin-top:1em;
margin-bottom:.5em;
-webkit-hyphens: none !important;
adobe-hyphenate: none !important;
-moz-hyphens: none !important;
epub-hyphens: none !important;
font-size:100%;
text-align:left;
text-indent:0px;
}
